profiles {
    local {
        process.executor = 'local'

        params.quiltpkg = ''
        params.quiltprefix = ''
    }

    cloud {
        process.executor = 'awsbatch'
        process.queue = 'mredjobqueue'
        plugins.id = 'nf-quilt'

        params.projectDir = 's3://<BUCKET>/landing'
        params.quiltpkg = '#package=CRISPR_singleCell/1k_CRISPR_5p_gemx'
        params.quiltprefix = 'quilt+'
    }
}

aws {
    region = 'us-east-1'

    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
    }

    batch {
        cliPath = '/usr/local/bin/aws'
        maxTransferAttempts = 3
        delayBetweenAttempts = '5 sec'
    }
}